<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

ID : <span th:text="${infosEnseignant.id}"></span><br/>
N° Enseignant : <span th:text="${infosEnseignant.numEnseignant}"></span><br/>
Nom : <span th:text="${infosEnseignant.nom}"></span><br/>
Prénom : <span th:text="${infosEnseignant.prenom}"></span><br/>
Date de naissance : <span th:text="${infosEnseignant.dateNaissance}"></span><br/>
Sexe : <span th:text="${infosEnseignant.sexe}"></span><br/>
Grade : <span th:text="${infosEnseignant.grade}"></span><br/>
Dated'Embauche : <span th:text="${infosEnseignant.dateEmbauche}"></span><br/>

</body>
</html>