<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modifier Etudiant</title>
<link rel="stylesheet" type="text/css" th:href="@{css/formulaire.css}">
</head>
<body>
<div class="form-style-5">
<form th:action="@{modif-etudiant}"method="POST" th:object="${etudiantForm}">
<input type="text"
			th:field="*{id}" placeholder="id" id="id" hidden=""/><br>
<label for="numEtudiant">N° Etudiant : </label> <input type="text"
			th:field="*{numEtudiant}" placeholder="numEtudiant" id="numEtudiant" /><br>
<label for="nom">Nom : </label> <input type="text"
			th:field="*{nom}" placeholder="nom" id="nom" /><br>
<label for="prenom">Prénom : </label> <input type="text"
			th:field="*{prenom}" placeholder="prenom" id="prenom" /><br>
<label for="dateNaissance">Date de naissance : </label> <input type="text"
			th:field="*{dateNaissance}" placeholder="dateNaissance" id="dateNaissance" /><br>
<label for="sexe">Sexe : </label> <input type="text"
			th:field="*{sexe}" placeholder="sexe" id="sexe" /><br>
			<input type="submit" value="Modifier"/>
</form>
</div>
</body>
</html>